.button {
  @apply font-medium text-lg;
}

button.button-small {
  @apply px-6 py-2;
}

button.button-large {
  @apply px-10 py-3;
}

button.button-primary {
  @apply text-white bg-neutral-950 shadow-button hover:bg-neutral-800;
}

button.button-secondary {
  background: linear-gradient(
      180deg,
      rgba(223, 225, 231, 0) 0%,
      rgba(223, 225, 231, 0.15) 100%
    ),
    #ffffff;

  @apply shadow-button border border-neutral-950/10 hover:border-neutral-950 hover:bg-neutral-100;
}

button.button-tertiary {
  background: linear-gradient(
    94.07deg,
    #9360ff 0%,
    #e4386d 33.33%,
    #ff912c 66.67%,
    #ffea2d 100%
  );

  @apply text-white shadow-button;
}

button.button-tertiary:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(
      94.07deg,
      #9360ff 0%,
      #e4386d 33.33%,
      #ff912c 66.67%,
      #ffea2d 100%
    );
}
