.button {
  @apply font-normal inline-flex justify-center items-center gap-4 w-full text-center font-mono rounded-[100px] uppercase whitespace-nowrap;
}

.button-small {
  @apply px-4 py-2.5;
}

.button-large {
  @apply px-8 py-4;
}

.button-dark {
  @apply text-button-dark-text bg-button-dark-bg hover:bg-button-dark-hover-bg;
}

.button-light {
  @apply text-button-light-text bg-button-light-bg hover:bg-button-light-hover-bg border border-black;
}

.button-text {
  @apply !py-2 !px-0 rounded-none w-max text-sm leading-[120%] text-button-text-text border-b border-transparent hover:border-button-text-text capitalize;
}

.button-round {
  @apply rounded-full w-12 h-12 !p-3;
}
